.cta-base {
  height: calc(var(--base-row-unit) * 2);
  padding: 0 30px;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  background: var(--color-light-primary);
  color: var(--color-white);
}

.cta-icon {
  width: 150px;
  height: fit-content;
  padding: 8.75px 22px;
  gap: 10px;
  letter-spacing: -1.2px;
}

.cta-reversed {
  padding-top: 6.75px;
  padding-bottom: 6.75px;
  background: var(--color-transparent);
  color: var(--color-light-primary);
  border: 2px solid var(--color-light-primary);
}

.info-rounded {
  height: var(--base-row-unit);
  padding: 3.75px 12px;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 9999px;
  background: var(--color-white-low-transparency);
  border: 1px solid var(--color-white);
}

.course-wrapper {
  /* layout */
  width: 1272px;
  height: fit-content;
  margin: auto;
  padding: var(--base-row-unit) var(--base-col-unit);
  display: flex;
  flex-direction: column;
  gap: var(--base-row-unit);
  box-sizing: border-box;
  /* style */
  background-color: var(--color-light-black);
  border-radius: 20px;
}

.course-wrapper > div {
  display: flex;
  gap: 10px;
}

.course-card-header > span:last-child {
  background: var(--color-red-low-transparency);
  border-color: var(--color-red);
  color: var(--color-red);
  font-weight: bold;
}

.course-card {
  /* layout */
  width: 376px;
  padding: var(--base-row-unit) var(--base-col-unit);
  /* style */
  background: var(--color-black);
  border-radius: 20px;
}

.course-card-title {
  height: calc(var(--base-row-unit) * 3);
}

.course-card-main-difficulty {
  gap: 10px;
}

.course-card-main-difficulty > ul {
  display: flex;
  gap: 3px;
}

.difficulty-gui {
  display: flex;
  align-items: center;
  /* 1. 반드시 가로와 세로가 같아야 합니다 (정사각형) */
  width: 10px;
  height: 10px;

  /* 2. 배경색 또는 보더를 지정합니다 */
  background-color: var(--color-light-primary);
  /* border: 2px solid var(--color-white); */

  /* 3. 모서리를 50% 깎으면 원이 됩니다 */
  border-radius: 50%;
}

/* section.roadmap */
.roadmap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 81px 48px;
  width: 1272px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
}

/* roadmap-left */
.roadmap-left {
  width: 393px;
  padding-top: 54px;
  padding-right: 54px;
  display: flex;
  flex-direction: column;
  gap: 54px;
  position: sticky;
  top: 81px;
  box-sizing: border-box;
}

.roadmap-left span {
  font-size: var(--font-heading-l);
  line-height: calc(var(--base-row-unit) * 2);
  color: var(--color-light-primary);
  font-weight: bold;
}

.roadmap-left h2 {
  font-size: var(--font-heading-l);
  line-height: calc(var(--base-row-unit) * 2);
  color: var(--color-white);
  margin: 0;
}

.roadmap-left p {
  font-size: var(--font-body-l);
  line-height: calc(var(--base-row-unit) * 2);
  color: var(--color-super-light-gray);
  margin: 0;
}

/* roadmap-right */
.roadmap-right {
  width: 540px;
  height: 630px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.roadmap-right::-webkit-scrollbar {
  display: none;
}

/* card */
.roadmap-card {
  width: 540px;
  padding: 24px;
  gap: 27px;
  border-radius: 16px;
  background-color: var(--color-light-black);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-shrink: 0;
}

/* card-header */
.roadmap-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 54px;
}

/* card-icon */
.roadmap-card-icon {
  width: 54px;
  height: 54px;
  padding: 13px 15px 14px 15px;
  border-radius: 15px;
  background-color: var(--color-light-primary-low-transparency);
  border: 1px solid var(--color-light-primary);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* badge */
.roadmap-badge {
  height: 27px;
  padding: 3.75px 12px;
  border-radius: 9999px;
  background-color: var(--color-light-primary);
  color: var(--color-white);
  white-space: nowrap;
  box-sizing: border-box;
  font-size: var(--font-body-s-plus);
}

/* card-image */
.roadmap-card-image {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

.roadmap-card-image img {
  width: 100%;
  height: 306.67px;
  object-fit: cover;
  border-radius: 8px;
}

/* card h3 */
.roadmap-card h3 {
  font-size: var(--font-heading-m);
  line-height: calc(var(--base-row-unit) * 2);
  color: var(--color-white);
  margin: 0;
  font-weight: 700;
}

/* card-desc */
.roadmap-card-desc {
  font-size: var(--font-body-m-plus);
  line-height: var(--base-row-unit);
  color: var(--color-super-light-gray);
  margin: 0;
}
